/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 100px;
}


.profile-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    object-fit: cover;
}

.profile-details {
    flex: 1;
}

.profile-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.profile-details p {
    margin: 5px 0;
    font-size: 1.5rem;
}

.edit-profile-btn, .save-profile-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-btn:hover, .save-profile-btn:hover {
    background-color: black;
}

.hidden {
    display: none;
}

form {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
